.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .logo {
// }

.search,
.search-result {
    width: 346px;
}

.search {
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    position: relative;

    input {
        flex: 1;
        font-size: 16px;
        color: var(--black);
        padding: 12px 4px;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        // background: rgba(22, 24, 35, 0.084);
        color: rgba($color: #000000, $alpha: 0.6);
    }

    &:hover {
        border-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.095);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.093px;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 12px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    color: rgba(22, 24, 35, 0.34);
    font-size: 20px;

    &:hover {
        background: rgba(22, 24, 35, 0.084);
    }

    &:active {
        background: rgba(22, 24, 35, 0.006);
    }

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 80%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(22, 24, 35, 0.12);
    }
}

.actions {
    display: flex;
    align-items: center;
}

.custom-get-app {
    padding: 6px 14px;
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    font-size: 20px;
    margin: 0 2px;
    padding: 4px 22px;
    background: transparent;
    cursor: pointer;
}
