.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-get-app {
    padding: 6px 14px;
    color: rgba(22, 24, 35, 0.75);
}

// Action
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    font-size: 22px;
    color: #161823;
    cursor: pointer;
    padding: 4px 12px;
    line-height: 0;
}

.more-btn {
    font-size: 20px;
    margin: 0 2px;
    padding: 4px 22px;
    background: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 12px;
}
